<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <form id="getProduct">
        <label for="idProd">ID del producto</label>
        <input type="number" name="idProd" id="idProd" required>

        <input type="submit" value="Consultar producto">
    </form>

    <section id="section-producto">
        <div id="lista-producto"></div>
    </section>
</main>
<script src="js/consultas.js"></script>

<%- include("partials/footer.ejs") %>
