<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<main>
    <form id="createProduct-form">
        <label for="nombreProd">Nombre</label>
        <input type="text" name="nombre" id="nombreProd" required>

        <label for="imagenProd">Imagen</label>
        <input type="text" name="ruta_img" id="imagenProd" required>

        <label for="precioProd">Precio</label>
        <input type="number" name="precio" id="precioProd" required>

        <label for="categoriaProd">Categoria</label>
        <select name="tipo" id="categoriaProd" required>
            <option value="grafica">Placa de video</option>
            <option value="procesador">Procesador</option>
        </select>

        <input type="submit" value="Crear Producto">
    </form>
    <section id="section_product">
        <div id="listaProducto"></div>
    </section>
</main>
<script src="js/crear.js"></script>
<%- include("partials/footer.ejs") %>
