<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<main>
    <h2 class="title-section"><%= about %></h2>
    <form id="getProduct">
        <label for="idProd">Id del producto</label>
        <input type="number" id="idProd" name="idProd" required>

        <input type="submit" value="Consultar producto">
    </form>
    <section id="section_product">
        <div id="listaProducto"></div>
    </section>
</main>
<script src="js/eliminar.js"></script>
<%- include("partials/footer.ejs") %>
