<%- include("partials/head.ejs") %>



<main>
    <img src="img/logo_login.png" alt="Logo de NEO COMPUTE">
    <form action="/login" method="POST" autocomplete="off" id="login-form">
        <label for="emailUser">Correo Electr칩nico</label>
        <input type="email" name="email" id="emailUser" required>

        <label for="passwordUser">Contrase침a</label>
        <input type="password" name="password" id="passwordUser" required>

        <input type="submit" value="Iniciar Sesi칩n">
        <input type="button" id="acceso-rapido" value="Acceso R치pido">
    </form>
    <% if (typeof error !== "undefined") {%>
        <div class="mensaje-error">
            <span class="material-symbols-outlined">error</span>
            <%= error %>
        </div>
    <% } %> 
</main>

<script src="js/login.js"></script>
<%- include("partials/footer.ejs") %>
