<header id="header-main">
    <div class="logo-container">
        <img src="img/logo.png" alt="Logo de NEO COMPUTE">
    </div>
    <h1>Admin Panel</h1>
    <nav id="nav">
        <ul>
            <a href="/">
                <li><span class="material-symbols-outlined">home</span></li>
            </a>
            <a href="/consultas">
                <li><span class="material-symbols-outlined">search</span></li>
            </a>
            <a href="/crear">
                <li><span class="material-symbols-outlined">add</span></li>
            </a>
            <a href="/modificar">
                <li><span class="material-symbols-outlined">edit</span></li>
            </a>
            <a href="/eliminar">
                <li><span class="material-symbols-outlined">delete</span></li>
            </a>
        </ul>
    </nav>

    <form action="/logout" id="logout" method="POST">
        <input type="submit" value="Cerrar Sesion">
    </form>

</header>
<h2 style="text-align: center; border-bottom: 1px solid #ccc; width: 100%"><%= about %></h2>
<!-- <hr style="margin: 0 3% 0 3%;"> -->