<header id="header-main">
    <div class="logo-container">
        <img src="img/logo.png" alt="Logo de NEO COMPUTE">
    </div>
    <h1>Admin Panel</h1>
    <nav id="nav">
        <ul>
            <li>
                <a href="/">
                    <span class="material-symbols-outlined">home</span>
                </a>
            </li>
            <li>
                <a href="/consultas">
                    <span class="material-symbols-outlined">search</span>
                </a>
            </li>
            <li>
                <a href="/crear">
                    <span class="material-symbols-outlined">add</span>
                </a>
            </li>
            <li>
                <a href="/modificar">
                    <span class="material-symbols-outlined">edit</span>
                </a>
            </li>
            <li>
                <a href="/eliminar">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </li>
            <li style="display: flex; justify-content: center; align-items: center;">
                <form class="form-logout" action="/logout" method="POST">
                    <button type="submit" class="logout-btn">
                        <span class="material-symbols-outlined">logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>